In [1]:
import pandas as pd

print("Pandas imported successfully")

Pandas imported successfully

In [2]:
#Pandas Series
#A Series is like a single column of data.

import pandas as pd

data=[10,20,30,40,50]
series=pd.Series(data)

print("Series Output:\n",series)
print("Type of Series:\n",type(series))

Series Output:
 0    10
1    20
2    30
3    40
4    50
dtype: int64
Type of Series:
 <class 'pandas.core.series.Series'>

In [3]:
#Pandas DataFrame
# A DataFrame is like an Excel spreadsheet â€” rows and columns.

import pandas as pd

data={
    "Name":["Atharva","Nihal","Reva"],
    "Age":["21","22","23"],
    "City":["Pune","Mumbai","Delhi"]
}

df = pd.DataFrame(data)

print("Data frame:\n",df)
print("Type of object:\n",type(df))

Data frame:
       Name Age    City
0  Atharva  21    Pune
1    Nihal  22  Mumbai
2     Reva  23   Delhi
Type of object:
 <class 'pandas.core.frame.DataFrame'>

In [4]:
#Reading CSV File
df.to_csv("sample.csv",index=False)
print("CSV file 'sample.csv' created with dummy data!")

df= pd.read_csv("sample.csv")
print(df.head())
print(df.tail())

CSV file 'sample.csv' created with dummy data!
      Name  Age    City
0  Atharva   21    Pune
1    Nihal   22  Mumbai
2     Reva   23   Delhi
      Name  Age    City
0  Atharva   21    Pune
1    Nihal   22  Mumbai
2     Reva   23   Delhi

In [5]:
#Basic Data Inspection

print("First 5 rows:\n",df.head())
print("Last 2 rows:\n", df.tail(2))
print("Summary info:\n")
print(df.info())
print("Statistical Summary:\n",df.describe())
print("Shape of DataFrame (rows, columns):",df.shape)

First 5 rows:
       Name  Age    City
0  Atharva   21    Pune
1    Nihal   22  Mumbai
2     Reva   23   Delhi
Last 2 rows:
     Name  Age    City
1  Nihal   22  Mumbai
2   Reva   23   Delhi
Summary info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   City    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes
None
Statistical Summary:
         Age
count   3.0
mean   22.0
std     1.0
min    21.0
25%    21.5
50%    22.0
75%    22.5
max    23.0
Shape of DataFrame (rows, columns): (3, 3)

In [6]:
 #Indexing and Selection
#Using .loc[] and .iloc[]

print("Row with label 0:\n",df.loc[0])
print("Row with index 0:\n",df.iloc[1])

Row with label 0:
 Name    Atharva
Age          21
City       Pune
Name: 0, dtype: object
Row with index 0:
 Name     Nihal
Age         22
City    Mumbai
Name: 1, dtype: object

In [7]:
#Conditional Filtering

print("People with Age > 21:\n",df[df["Age"] > 21])

People with Age > 21:
     Name  Age    City
1  Nihal   22  Mumbai
2   Reva   23   Delhi

In [8]:
#Adding, Removing, Renaming Columns

df["Score"]= [88,98,95]
print("Added new colunm:\n",df)

df.rename(columns={"City": "Location"},inplace=True)
print("Renamed colunm:\n",df)

df=df.drop("Score",axis=1)
print("Removed colunm:\n",df)

Added new colunm:
       Name  Age    City  Score
0  Atharva   21    Pune     88
1    Nihal   22  Mumbai     98
2     Reva   23   Delhi     95
Renamed colunm:
       Name  Age Location  Score
0  Atharva   21     Pune     88
1    Nihal   22   Mumbai     98
2     Reva   23    Delhi     95
Removed colunm:
       Name  Age Location
0  Atharva   21     Pune
1    Nihal   22   Mumbai
2     Reva   23    Delhi

In [9]:
#Sorting
df_sorted=df.sort_values(by="Age",ascending=False)
print("Sorted by Age descending:\n", df_sorted)

Sorted by Age descending:
       Name  Age Location
2     Reva   23    Delhi
1    Nihal   22   Mumbai
0  Atharva   21     Pune

In [10]:
#Sorting
df_sorted=df.sort_values(by="Age",ascending=True)
print("Sorted by Age descending:\n", df_sorted)

Sorted by Age descending:
       Name  Age Location
0  Atharva   21     Pune
1    Nihal   22   Mumbai
2     Reva   23    Delhi